*, *::before, *::after {
    box-sizing: border-box;
    user-select: none;
  }


:any-link {
    text-decoration: none;
    color: black;
}

body {
    background-color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
}

@font-face {
    font-family: FavoritMedium;
    src: url(font_library/ABCFavorit-Medium-Trial.otf);
}

@font-face {
    font-family: MaleoI;
    src: url(Maleo-Trials/webfonts/MaleoTrials-MediumItalic.woff);
}

.wrapper {
  margin: auto;
  justify-content: center;
  align-items: center;
}

video {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* position the div in center */
  
}

.rockvideo {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.color {
  padding: 70px 0;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* position the div in center */
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  margin: auto;
  width: 400px;
  z-index: 3;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 899px) {
  img {
    width: 650px;
  }
}

@media (min-width: 400px) {
  img {
    width: 325px;
  }
}

h1 {
    font-size: 100px;
    font-family: FavoritMedium;
    color: rgb(22, 22, 22);
    opacity: 90%;
}

h1:hover {
    color:rgb(203, 247, 133);
}

@media (max-width: 900px) {
  h1 {
    font-size: 65px;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 40px;
  }
}

/* @-webkit-keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} */


#footer li {
    list-style-type: none;
    margin-top: -2%;
    color: white;
    font-family: Maleo;
    font-size: 4rem;
    float: inline-start;
    position: absolute;
}

.work {
    margin-left: 4%;
}

.work:hover {
    color:rgb(240, 219, 125);
}

@-webkit-keyframes run {
    0% {
      left: 0%;
    }
    100% {
      left: 65%;
    }
  }

.about {
    margin-left: 15%;
    position: absolute;
    -webkit-animation: 1;
    -webkit-animation-name: run;
    -webkit-animation-duration: 3.5s;
    animation-fill-mode: forwards;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

h2 {
    font-family: Maleo;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    margin: -1.5rem;
    padding-left: 200px;
}
  
  .start-screen {
    position: absolute;
    font-size: 5vmin;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Maleo;
  }
  
  .hide {
    display: none;
  }
  




