@font-face {
  font-family: DiatypeRegular;
  src: url(font_library/ABCDiatype-Regular-Trial.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.test {
  width: 10rem;
  height: auto;
}

@keyframes blink {
  50% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

body {
  min-height: 100vh;
}

a {
  color: rgb(255, 255, 255);
  font-family: DiatypeRegular;
}

.highlight-blue {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-family: DiatypeRegular;
}

div {
  display: block;
}

.main_page {
  position: relative;
  min-height: 100vh;
}

#background_area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

p {
  font-family: DiatypeRegular;
  color: black;
  position: relative;
  top: 0;
  left: 0;
  right: 6px;
  width: 36%;
  padding: 6px 6px;
  /* mix-blend-mode:overlay; */
  z-index: 6;
}

.header-title {
  text-decoration: underline;
}

.header-title:hover {
  color: blue;
  cursor: pointer;
}

.education {
  display: none;
}

.selected-projects {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.selected-projects:hover {
  color: blue;
}

.selected-projects-list {
  display: none;
  left: 0;
  position: relative;
  color: black;
  cursor: pointer;
  z-index: 6;
  width: fit-content;
  padding-left: 6px;
  /* animation: blink 1s infinite; */
}

.underline {
  text-decoration: underline;
}

#list-one {
  /* display: none; */
  /* padding-left: 6px; */
  top: 0;
  width: fit-content;
}

#list-two {
  /* display: none; */
  /* padding-left: 6px; */
  top: 0; 
  width: fit-content;
}

#list-three {
  /* display: none; */
  /* padding-left: 6px; */
  top: 0; 
  width: fit-content;
}

#list-four {
  /* display: none; */
  /* padding-left: 6px; */
  top: 0; 
  width: fit-content;
}

#list-five {
  /* display: none; */
  /* padding-left: 6px; */
  top: 0; 
  width: fit-content;
}

#list-six {
  /* display: none; */
  /* padding-left: 6px; */
  top: 0; 
  width: fit-content;
}

.selected-projects:hover {
  color: blue;
}

#list-one-full {
  display: none;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.list-one-image-one {
  width: 40rem;
  height: auto;
  margin: auto;
}

#list-two-full {
  display: none;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.list-two-image-one {
  width: 40rem;
  height: auto;
  margin: auto;
}

#list-three-full {
  display: none;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.list-three-image-one {
  width: 40rem;
  height: auto;
  margin: auto;
}

#list-four-full {
  display: none;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.list-four-image-one {
  width: 40rem;
  height: auto;
  margin: auto;
}

#list-five-full {
  display: none;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.list-five-image-one {
  width: 40rem;
  height: auto;
  margin: auto;
}

#list-six-full {
  display: none;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.list-six-image-one {
  width: 40rem;
  height: auto;
  margin: auto;
}

video {
  display: none;
  max-width: 20em;
}

.header-title {
  color: black;
}

#webcam-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  max-width: 325px;
}

#webcam {
  width: 100%;
  height: auto;
}

#global-container-two {
  position: relative;
  display: none;
}

#webcam-container-two {
  position: fixed;
  top: 6px;
  right: 6px;
  justify-content: right;
  margin: auto;
  max-width: 100px;
}

#webcam-two {
  width: 100%;
  height: auto;
}

#work-top-right {
  display: none;
  position: fixed;
  top: 6px;
  right: 6px;
  justify-content: right;
  margin: auto;
  max-width: 100px;
  cursor: pointer;
}

.hidden-grid {
  display: none;
}

#image-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 2rem;
  max-width: 90vw;
  margin: 0 auto;
  position: relative;
  top: 2rem;
  z-index: 10;
}

#image-grid-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); */
}


#image_grid {
  /* opacity: 0; */
  /* bottom: 0;
  left: 0;
  right: 0; */
  padding: 2em;
  max-width: 72em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: flex; */
  /* flex-flow: row wrap; */
  /* box-sizing: content-box; */
  z-index: 1;
  /* flex-basis: 20%; */
  /* width: calc(100vw - 20px); */
}

figure {
  /* display: none; */
  width: 36em;
  /* aspect-ratio: 1 / 1; */
  margin: auto;
  padding: 0.1rem;
  padding-bottom: 8px;
  flex-shrink: 0;
}

#img-one {
  display: none;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36em;
}

#img-two {
  display: none;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36em;
}

#img-three {
  display: none;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30em;
}

#img-four {
  display: none;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36em;
}

#img-five {
  display: none;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40em;
}

#img-six {
  display: none;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30em;
}

#img-seven {
  display: none;
}

#img-eight {
  display: none;
}

#img-nine {
  display: none;
}

figure:hover {
  cursor: pointer;
}

#latest-snapshots {
  display: none;
  position: fixed;
  top: 6px;
  right: 1px;
  justify-content: right;
  /* margin: auto; */
  text-align: right;
  padding: 6px;
  background: rgba(255, 255, 255, 0.7);
  /* border-radius: 4px; */
  z-index: 10;
}

 #snapshot-gallery {
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 6px;
  flex-wrap: wrap;
  margin: 6px;
}

#latest-snapshots:hover + #snapshot-gallery{
  cursor: pointer;
  display: block;
}

#snapshot-gallery img {
  width: 130px;
  height: auto;
  border-radius: 4px;
}


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  color: white;
  background: black;
  z-index: 10;
}

#clock-temperature, #about, #powered-by {
  color: white;
}

#powered-by {
  text-decoration: underline;
}

.powered-by:hover {
  color: rgba(128, 106, 223, 1);
}

::selection {
  color: blue;
}

a:hover {
  color: blue;
}

@media (max-width: 640px) {

  body {
    
    min-height: 100vh; /* Add padding to prevent content overlap with fixed header */
  }

  p {
    width: auto;
  }

  #img-one {
    display: none;
    opacity: 0;
  }

  #img-two {
    display: none;
    opacity: 0;
  }

  #img-three {
    display: none;
    opacity: 0;
  }

  #img-four {
    display: none;
    opacity: 0;
  }

  #img-five {
    display: none;
    opacity: 0;
  }

  #img-six {
    display: none;
    opacity: 0;
  }

  #webcam-container-two {
    display: none;
  }

  #webcam-container {
    width: 100%;
    max-width: 250px;
    overflow: hidden;
    animation: fadeIn 1s ease; /* Ensure the image stays within the container */
  }
  
  footer {
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: white;
    background: black; /* Default background */
  }

  #about {
    text-align: left;
    width: 30%;
  }

  #powered-by {
    text-align: center;
    width: 60%;
    vertical-align: top;
   
  }

  #clock {
    vertical-align: top;
    text-align: right;
    width: 40%;
    
  }
}